## For Atom Lite + Atomic Speaker + PDM Unit
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_MEDIA_I2S_RX_PDM=y
CONFIG_MEDIA_I2S_RX_MCLK_PIN=-1
CONFIG_MEDIA_I2S_RX_BCLK_PIN=-1
CONFIG_MEDIA_I2S_RX_LRCLK_PIN=32
CONFIG_MEDIA_I2S_RX_DATA_PIN=26
CONFIG_MEDIA_I2S_TX_MCLK_PIN=-1
CONFIG_MEDIA_I2S_TX_BCLK_PIN=22
CONFIG_MEDIA_I2S_TX_LRCLK_PIN=21
CONFIG_MEDIA_I2S_TX_DATA_PIN=25

CONFIG_LIBPEER_VIDEO_BUFFER_SIZE_MTUS=32
CONFIG_LIBPEER_AUDIO_BUFFER_SIZE_MTUS=32
CONFIG_LIBPEER_DATA_BUFFER_SIZE_MTUS=64

CONFIG_USE_WIFI_PROVISIONING_SOFTAP=y
CONFIG_BSP_RESET_PROVISIONING_GPIO=y
CONFIG_BSP_RESET_PROVISIONING_GPIO_NUM=39
CONFIG_BSP_RESET_PROVISIONING_GPIO_LEVEL_LOW=y